<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel ='stylesheet' href ='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel ='stylesheet' href ='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/../css/styles.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <title>Volunteer Center</title>
</head>
<body>
    <nav class='navbar navbar-default navbar-fixed-top'>
     <div class='container-fluid'>
       <div class='navbar-header'>
         <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#volunteerNavbar'>
           <span class='icon-bar'></span>
           <span class='icon-bar'></span>
           <span class='icon-bar'></span>
         </button>
         <a class='navbar-brand' href='/'>Volunteer Center</a>
       </div>
       <div class="collapse navbar-collapse" id='volunteerNavbar'>
         <ul class='nav navbar-nav'>
             {% if not supervisor and not volunteer %}
                  <li><a href='/create-volunteer'>Create an account</a></li>
                <li><a href='/supervisor-login'>Supervisor Log-in</a></li>
                <li><a href='/volunteer-login'>Volunteer Log-in</a></li>
                <li><a href='/committees'>Committees</a></li>
                <li><a href='/events'>Events</a></li>
             {% elseif supervisor and not volunteer %}
                 <li><a href='/committees'>Committees</a></li>
                 <li><a href='/events'>Events</a></li>
                 <li><a href='/admin'>Admin</a></li>
                 <li><a href='/logout'>Logout</a></li>
             {% else %}
                 <li><a href='/committees'>Committees</a></li>
                 <li><a href='/events'>Events</a></li>
                 <li><a href='/logout'>Logout</a></li>
             {% endif %}

         </ul>
         <ul class='nav navbar-nav navbar-right'>
           <li><a href='https://github.com/k-giardchase/volunteer_management.git'><i class="fa fa-github"></i></a></li>
         </ul>
       </div>
     </div>
   </nav>
   <section>
       <br>
       <br>
       <br>
       <br>
       <div class="row">
           <div class="col-md-4">
                   <h1>All events</h1>
                   {% if events is not empty %}
                       {% for event in events %}
                       <dl class='dl-horizontal'>
                           <dt>Name</dt>
                           <dd>{{ event.getEventName }}</dd>
                           <dt>Date</dt>
                           <dd>{{ event.getEventDate }}</dd>
                           <dt>Location</dt>
                           <dd>{{ event.getLocation }}</dd>
                           <dt>Information</dt>
                           <dd><a href='/event/{{ event.getId }}'>Click for more info</a></dd>
                       </dl>
                       {% endfor %}
                   {% else %}
                            <h1>No events to display.</h1>
                   {% endif %}
           </div>
           <div class="col-md-8">
               {% if volunteer %}
                   {% if volunteer_events is not empty %}
                        <h1>Your events:</h1>
                       {% for event in volunteer_events %}
                       <dl class='dl-horizontal'>
                           <dt>Name</dt>
                           <dd>{{ event.getEventName }}</dd>
                           <dt>Date</dt>
                           <dd>{{ event.getEventDate }}</dd>
                           <dt>Location</dt>
                           <dd>{{ event.getLocation }}</dd>
                           <dt>Information</dt>
                           <dd><a href='/event/{{ event.getId }}'>Click for more info</a></dd>
                       </dl>
                       {% endfor %}
                   {% else %}
                       <h3>Whoops!</h3>
                       <p> It looks like you haven't signed up for any events yet.<a href='/events'>Click here </a> to add an event to your schedule.</p>
                   {% endif %}
               {% elseif supervisor %}
                    {% if supervisor_events is not empty %}
                          <h1>Here are the events your committee(s) are putting on:</h1>
                          {% for event in supervisor_events %}
                              <dl class='dl-horizontal'>
                                  <dt>Name</dt>
                                  <dd>{{ event.getEventName }}</dd>
                                  <dt>Date</dt>
                                  <dd>{{ event.getEventDate }}</dd>
                                  <dt>Location</dt>
                                  <dd>{{ event.getLocation }}</dd>
                                  <dt>Information</dt>
                                  <dd><a href='/event/{{ event.getId }}'>Click for more info</a></dd>
                              </dl>
                          {% endfor %}
                      {% else %}
                  <h3>Whoops!</h3>
                  <p> It looks like your committee(s) aren't putting on any events, or you may not have added yourself as a supervisor to a committee. View <a href='/volunteers'>volunteer list</a> to get the ball rolling, or <a href='/committees'>committees</a> to add yourself to a committee.</p>
                  {% endif %}
                {% else %}
                    <h1>Sign-in to see the events you're signed up for.</h1>
                {% endif %}
           </div>
       </div>
   </section>
</body>
</html>
